<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>List</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Harkirat Kohli</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
        </ul>
    </div>
    
    <section class="page">
   <h1> Welcome to my website </h1>
    <p> I will be demonstrating HTML5 principles and techniques using ordered and unordered lists
    </p>
    <h2>About Me</h2>
    <p>
        Name: HARKIRAT SINGH KOHLI,
        Student ID: 145039202, Program: CPP
    <h2>CALORIES AND NUTRITION</h2>
    <ul>
        <li>BANANA</li>
        <li>
            APPLE
            <ol>
                <li>Calories in APPLE: 45</li>
                <li>Sugar  in APPLE: 2 grams</li>
                <li> fibre in APPLE: 15 grams</li>
                <li>Protein in APPLE: 3 gram</li>
            </ol>
        </li>
        <li>onion</li>
        <li>spinach</li>
        <li>cauliflower</li>
    </ul>
    </section>
</body>

</html>

<body>
 
</body>