<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<title>Storefront</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Harkirat Kohli</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
        </ul>
    </div>
    
    <section class="page">
        <h1 style="margin:0.83em 0">Store Front</h1>
        <div class="container">
            <div class="row">
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/41KY-NORo9L._SY264_BO1,204,203,200_QL40_ML2_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">THE POWER OF 48 LAWS</h5>
                        <p class="card-text">the definitive manual for anyone interested in gaining, observing, or defending against ultimate control.</p>
                        <p class="card-text">In the book that Individuals magazine declared "dumbfounding" and "entrancing," Robert Greene and Joost Elffers
                             have refined 3,000 years of the historical backdrop of force into 48 fundamental.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $14.99</p>
                        <a href="#" class="add-btn add-btn btn btn-primary">Shop</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/41SG4SO4T9L._SY264_BO1,204,203,200_QL40_ML2_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ikigai: The Japanese Secret to a Long and Happy Life</h5>
                        <p class="card-text">Find your ikigai to live longer and bring more meaning and joy to all your days.</p>
                        <p class="card-text">everybody has an ikigai — a justification behind living. Also, as per the occupants of the Japanese
                            town with the world's longest-living individuals, finding it is the way in to a more joyful and longer life</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $15.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/51u8ZRDCVoL._SY264_BO1,204,203,200_QL40_ML2_.jpg"
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rich Dad Poor Dad</h5>
                        <p class="card-text">Rich Father Unfortunate Father is Robert's account of growing up with two fathers
                             — his genuine dad and the dad of his dearest companion, his rich father — and the manners by which
                              the two men formed his contemplations about cash and financial planning. </p>
                        <p class="card-text">The book detonates the
                               legend that you want to procure a big league salary to be rich and makes sense of the contrast
                                between working for cash and having your cash work for you.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $12.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/51kcX5PpaZL._SY264_BO1,204,203,200_QL40_ML2_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Alchemist/h5>
                        <p class="card-text">Consolidating sorcery, enchantment, shrewdness and miracle into a motivating story
                             of self-revelation, The Chemist has turned into a cutting edge work of art, selling a great many
                              duplicates all over the planet and changing the existences of incalculable perusers across ages.</p>
                        <p class="card-text">Paulo Coelho's show-stopper recounts the magical story of Santiago, an Andalusian
                             shepherd kid who longs to go looking for a common fortune.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $11.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/41Puj6l69BL._SX330_BO1,204,203,200_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Michael Jordan: The Life</h5>
                        <p class="card-text">The Shrug. The Shot. This season's virus Game.Michael Jordan is liable for heavenly
                             minutes so imbued in sports history that they have their own names. </p>
                        <p class="card-text">At the point when a great many
                              people think about him, they consider his delightful shots with the game on the line, his body
                               absolutely in a state of harmony with the ball - - hitting only net.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $24.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/41Ik8ssGRJS._SX392_BO1,204,203,200_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The World as I See It</h5>
                        <p class="card-text">The most exceptional and praised psyche of the twentieth Hundred years,
                             indeed, is credited to Albert Einstein.</p>
                        <p class="card-text"> This intriguing book permits us to investigate
                              his convictions, philosophical thoughts, and conclusions on many subjects.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $14.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/51-uspgqWIL._SY264_BO1,204,203,200_QL40_ML2_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones</h5>
                        <p class="card-text">Regardless of your objectives, Nuclear Propensities offers a demonstrated structure
                             for improving- - consistently. James Clear, one of the world's driving specialists on propensity
                              development, uncovers pragmatic techniques. </p>
                        <p class="card-text">that will show you precisely how to shape beneficial
                               routines, break terrible ones, and expert the little ways of behaving that lead to wonderful
                            outcomes.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $10.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/51RQ5km2gkL._SX198_BO1,204,203,200_QL40_ML2_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">The Secret</p>
                        <p class="card-text">Parts of an Extraordinary Mystery have been tracked down in the oral practices,
                             in writing, in religions, and methods of reasoning consistently.
                            Interestingly, every one of the
                              bits of The Mystery meet up in a unimaginable disclosure that will be life-changing for all who
                               experience it.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $18.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://d1b14unh5d6w7g.cloudfront.net/0345816021.01.S001.LXXXXXXX.jpg?Expires=1667341145&Signature=G6VGdW7EO5pMG4CuamSBIX8~sPYrcPh12J2fR5tLeGtw-mYHCWV5I4cTgN4IwXwIgoshifH4cDJbwrg3a9RBD2JhMKWG0dfVlSiSDCFZMrt9wQWJIpIkhh5WP~QZaGm3yqmn7kdRpB0~L4G9nBsZaDjwriM1RDFHe3zAYlGX2Gg_&Key-Pair-Id=APKAIUO27P366FGALUMQ"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">12 Rules for Life: An Antidote to Chaos</h5>
                        <p class="card-text">Hilarious, astonishing and instructive, Dr. Peterson explains to us why
                             skating young men and young ladies should be let be, what horrible destiny anticipates the
                              individuals who reprimand too effectively, and why you ought to constantly pet a feline 
                              when you meet one in the city.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $7.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://m.media-amazon.com/images/I/61y04z8SKEL._SY291_BO1,204,203,200_QL40_FMwebp_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Think and Grow Rich</h5>
                        <p class="card-text">Think and Grow Rich has been called the "Granddaddy of All Motivational Literature."
                             It was the first book to boldly ask, "What makes a winner?" The man who asked and listened for the
                              answer, Napoleon Hill, is now counted in the top ranks of the world's winners himself.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $3.99</p>
                        <a href="#" class="add-btn btn btn-primary">Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>